html {
    background-color: #efefef;
    color: #141414;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2.8em;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #141414;
    cursor: pointer;
    font-size: 14px;
}

.head {
    width: 100%;
    display: flex;
}

.class, .names {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.4em;
    width: 50%;
}

.names {
    text-align: right;
    float: right;
    font-size: 1.1em;
}

.container {
    display: block;
    margin: 5em auto 0em;
    width: 940px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    line-height: 1.4em;
}

h2 {
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
}

.content {
    /*margin-left: 180px;*/
}

.content p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.sketch1-container h3 {
    text-align: center;
    font-size: 1.35em;
}

.sketch1-container h4 {
    font-size: 1.2em;
}

#plot1 {
    /*margin-left: -65px;*/
}

@media (max-width: 800px) {
    .sketch1-container {
        margin: 1em;
    }

    h2 {
        font-size: 1em;
    }
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #6d6d6d;
    outline: none;
    border-radius: 8px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 20px;
    height: 20px;
    background: #141414;
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #17307a;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.plot {
    height: 600px;
}

.plot text,
.plot .tooltip {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.8em;
}

.plot .tooltip {
    position: absolute;
    visibility: hidden;
    color: #efefef;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    text-align: center;
    z-index: 9999;
    padding: 1em;
    line-height: 1.5em;
}

.plot .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.7);
}


/*plot 2 styles*/
.Age{
    display: block; /* makes it have a width */
     content: ""; /* clears default height */
     margin-bottom: 80px; /* change this to whatever height you want it */
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.overlay {
    position: relative;
    display: inline;
    width: 200px;
    height: 200px;
}

.pie {
    position: absolute;
    width: 168px;
    height: 168px;
    z-index: -1;
}

.dots {
    position: absolute;
    width: 168px;
    height: 168px;
    z-index: 1;
}


/*plot 3 styles*/
#plot3{
    width: 940px;
    height: 500px;
    margin: auto;
}

.label{
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
}

.line{
    stroke-width: 1px;
    stroke: #a8a8a8;
    shape-rendering: geometricPrecision;
    opacity: .5;
}

.ring{
    stroke-width: 1px;
    stroke: #686868;
}

.radial{
    stroke-width: 2px;
    stroke: #141414;
}

.legend{
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
    font-size: 1.4em;
}
