html {
    background-color: #f1f1f4;
    color: #141414;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2.8em;
    font-weight: 300;
}


a {
    text-decoration: none;
    color: #141414;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.head {
    width: 100%;
    display: flex;
}

.class,
.names {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.4em;
    width: 50%;
}

.names {
    text-align: right;
    float: right;
}

.container {
    display: block;
    margin: 5em auto 0em;
    width: 940px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    line-height: 1.4em;
}

h2 {
    font-weight: 600;
    font-size: 1.8em;
    margin: 0;
}

.content {
    /*margin-left: 180px;*/
}

.content p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.sketch1-container h3 {
    text-align: center;
    font-size: 1.35em;
}

.sketch1-container .education-level {
    display: flex;
}

.sketch1-container .education-level h4 {
    display: block;
    text-align: center;
    font-size: 1.1em;
    margin: 0px;
    padding: 20px;
    border-right: 1px solid;
    cursor: pointer;
}


.sketch1-container .education-level h4:hover {
    background-color: #f1f1f4;
    -webkit-box-shadow: 0px 11px 13px -7px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 11px 13px -7px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 11px 13px -7px rgba(0, 0, 0, 0.48);
    border: none;
    transition: all 0.2s linear;
}

.sketch1-container .education-level .inactive {
    font-weight: 100;
}

#plot1 {
    margin-top: 10px;
    margin-left: -80px;
}

@media (max-width: 800px) {
    .sketch1-container {
        margin: 1em;
    }
}

.slidecontainer {
    width: 100%;
}

.range {
    position: relative;
}

.slidecontainer .eduLevel {
    position: absolute;
    top: -4.0em;
    width: 108.5%;
    margin-left: 0.53em;
    z-index: -10;
}

.eduLevel .levelText {
    display: inline-block;
    width: 15.4%;
    padding-left: 0.55em;
    border-left: 1px solid #a8a8a8;
    vertical-align: top;
    height: 8.5ex;
}

#edu0 {
    font-weight: 800;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 92.6%;
    height: 3px;
    display: block;
    background-color: #a8a8a8;
    outline: none;
    margin-left: -0.1em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #141414;
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #141414;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}

.plot {
    height: 600px;
}

.plot text,
.plot .tooltip {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.8em;
}

.plot .tooltip {
    position: absolute;
    visibility: hidden;
    color: #efefef;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 9999;
    padding: 1em;
    line-height: 1.5em;
}

.plot .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.7);
}

.sketch1-container {
    position: relative;
}

.sketch1-container a {
    text-align: right;
    position: absolute;
    right: -70px;
    bottom: 270px;
}

/*plot 2 styles*/

.sketch2-container {
    width: 1000px;
    margin-top: -20px;
    overflow-x: hidden;
}

.sketch2-container .content,
.sketch2-container .content1,
.sketch2-container .content2 {
    display: flex;
}

.sketch2-container .content2,
.sketch2-container .content1 {
    visibility: collapse;
    display: none;
}

.sketch2-container .row {
    display: flex;
}

.col-md-2 {
    text-align: center;
    width: calc(100% / 6);
}

.Age {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-bottom: 30px;
    /* change this to whatever height you want it */
}

.sketch2-container .label,
.sketch2-container select {
    font-family: 'Source sans pro';
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 85%;
}

.sketch2-container .label {
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.overlay {
    position: relative;
    display: inline;
    width: 200px;
    height: 200px;
}

.pie {
    /*    position: absolute;*/
    width: 168px;
    height: 168px;
    z-index: -1;
}

.dots {
    position: absolute;
    width: 168px;
    height: 168px;
    z-index: 1;
}


/*plot 3 styles*/

#plot3 {
    width: 940px;
    height: 500px;
    margin: auto;
}

.label {
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
}

.value {
    font-size: 12;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
}

.line {
    stroke-width: 1px;
    stroke: #a8a8a8;
    shape-rendering: geometricPrecision;
    opacity: .5;
}

.ring {
    stroke-width: 1px;
    stroke: #686868;
}

.radial {
    stroke-width: 2px;
    stroke: #141414;
}

.legend {
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
    font-size: 1.1em;
}
