#plot3 {
    width: 800px;
    height: 500px;
    margin: auto;
}

.label {
    font-size: 1.1 em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
}

.value {
    font-size: 12;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
}

.line {
    stroke-width: 1px;
    stroke: #a8a8a8;
    shape-rendering: geometricPrecision;
    opacity: .5;
}

.ring {
    stroke-width: 1px;
    stroke: #686868;
}

.radial {
    stroke-width: 2px;
    stroke: #141414;
}

.legend {
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
    font-size: 1.1em;
}