body {
    font-family: 'Open Sans', sans-serif;
    color: #17307a;
    background-color: #f5f3f4;
}

.header {
    min-height: 8em;
    padding-top: 5em;
}

.header h1 {
    font-family: 'Vidaloka', serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.6em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    margin-top: 50px;
    font-weight: 100;
    font-size: 1.2em;
}

.plot {
    height: 600px;
}

.plot text,
.plot .tooltip {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.8em;
}

.plot .tooltip {
    position: absolute;
    visibility: hidden;
    color: #fff;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    text-align: center;
    z-index: 9999;
    padding: 1em;
    line-height: 1.5em;
}

.plot .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.7);
}
